/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;
$primary: hsl(56, 100%, 50%);
$link: hsl(223, 85%, 41%);
$table-row-hover-background-color: hsla(212, 91%, 71%, 0.445);